*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# OS specific
Thumbs.db
Desktop.ini

# Android specific
*.apk
*.ap_
*.aab
*.dex
*.class

# Keys and Secrets
*.jks
*.keystore
google-services.json

/.idea
